.afa-card {
    width: 12rem;
  }

  .producto-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .talle-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .talle-button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .talle-button.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  

  .body {
    background-color: #f0f0f0; /* Color de fondo deseado */
  }